<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <title><%= data.title %></title>
</head>
<body>
    <main>
        <h1>SANJAY KUMAR</h1>
        <div class="img-container">
            <img src="https://covers.openlibrary.org/b/isbn/<%= data.isbn %>-M.jpg" />
            <div class="title-container">
                <h1><%= data.title %></h1>
                <div class="description">
                    <div class="span-container">
                        <span>ISBN: <%= data.isbn %>.</span>
                        <span>Date Read: <%= data.date_only %></span>
                        <span>How strongly I recommend it: <%= data.rating %>/10</span>
                    </div>
                </div>
            </div>
        </div>
        <p><%= data.summary %></p>
        <h3>My Notes</h3>
        <p><%= data.brief %></p>
    </main>
</body>
</html>